/* Structure */
body {
    background:#546EA0;
    font-family:sans-serif;
}
#content {
    background:#75686F;
    width: 90%;
    padding: 1px 10px;
    margin:auto;
    border-radius: 5px;
    text-align: center;
}
#assignment-blocks,
#project-blocks{
    display: flex;
    flex-direction: column;
    gap:10px;
    color:white;
}
.block{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#2A3333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex:1
}

/* Navigation */
nav a {
    text-decoration: none;
    color:white;
}

/* Images */
img{
    border: 5px solid #2A3333;
    border-radius: 3px;
}

/* Tables */

/* Typography */
h1{
    font-style:oblique;
    color:#282833;
}
h2{
    color:#282833;
}
strong{
    color:#75473B;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    #assignment-blocks,
    #project-blocks{
        display: flex;
        flex-direction: row;
        padding: 5px;
        gap:10px;
    }
    .block{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color:#2A3333;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
}