/* Structure */
:root{
    --main-background-color:#CDECEF;
    --primary-color:#2B91AD;
    --gallery-color:#FFB58A;
}
body {
    background:var(--main-background-color);
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    background:white;
    width:85%;
    margin:auto; /* center */
    border-radius:5px;
    box-shadow: 10px 10px lightblue;
}

header, footer {
    background:#2B91AD;
    color:white;
    position:relative;
    padding:20px 0;
}

main {
    padding:5px;
}

.idea {
    padding:5px;
}

.idea:nth-child( even ) {
    background: #CDECEF;
}

.idea-img {
    padding:5px;
    text-align: center;
    position:relative;
}
.idea-img p {
    padding:5px;
    background:var(--primary-color);
    color:white;
}
.idea-img:nth-child( even ){
    padding-left:10px;
    background:var(--main-background-color);
}
.idea-img:nth-child( odd ) {
    padding-right:10px;
}

.gallery {
    background:var(--gallery-color);
}
.links {
    background:#CDECEF;
}

.tile,
.node {
    text-align: center;
    padding:5px;
}

header {
    /* position:fixed; Fixed Nav Bar for Mobile */     /* Pretty ugly, work on this */
    
}
.columns {
    display:flex;
    flex-direction: row;
}
.columns section {
    flex:1;
}
/* Animations */
#animation-fun {
    background:#a0ccda;
    padding:20px;
    height:300px;
    position:relative;
}

#ball {
    height:30px;
    width:30px;
    background:white;
    border-radius:50px;
    animation-name: fun;
    position:relative;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes fun {
    0% {background-color: red;
    top:0;
    left:0;
    }

    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {background-color: green;
    left:100px;
    top:200px;}
    80% {background-color: blue;}
    100% {background-color: indigo;
    top:0px;
    left:0;}
}

/* Playing with positioning */
#main-logo {
    position:absolute;
    left:50px;
}

/* Navigation */
#toggle-nav div {
    width:25px;
    height:2px;
    background-color:var(--gallery-color);
    margin:6px 0;
}
#sub-nav {
    position:absolute;
    top:0;
    right:5px;
}

#main-nav ul, #sub-nav ul {
    padding-left:0;
}

#main-nav li, #sub-nav li {
    list-style-type: none;  /* remove the bullets */
    text-align: center;
    border-bottom:1px solid white;
}

#main-nav li {
    background:var(--gallery-color);
}

#main-nav a, #sub-nav a {
    color:white;
    text-decoration: none;  /* remove the underlines */
    border-bottom:1px solid transparent;
}

#main-nav a:hover, #sub-nav a:hover {
    border-bottom:1px solid white;
}

#main-nav a:hover {
    color:crimson;
}

#sub-nav li {
    margin: 0 5px;
}

/* Typography */
header h1 {
    text-align: center;
}

footer p {
    text-align:center;
}
.sad {
    color:blue;
}
.happy {
    color:pink;
}
.display-none {
    display: none;
}
.hide-small {
    display:none !important;
}
.columns section:nth-child(even) {
    background:var(--main-background-color);
}
/* Larger screens */
@media only screen and (min-width: 768px) { 
    .columns {
        display: flex;
    }
    #main-nav li {
        flex:1;
    }
    #main-nav li:not(:last-child) {
        border-right: 1 px solid white;
    }

    .gallery {
        flex-wrap:wrap;
        justify-content: space-between;
    }

    .one {
        flex:1;
    }
    .two {
        flex:2;
    }
    .three {
        flex:3;
    }

    .node {
        flex-basis:33%;
    }

    .idea-img p {
        position:absolute;
        padding:5px;
        bottom:0;
    }
    #toggle-nav {
        display:none;
    }
    #nav-items {
        display:flex !important;
    }
}